<<<<<<< HEAD
=======
{% if app.session.get('connected') %}
>>>>>>> 051ce017a95e1b176f9ee1b76d9d290dff4c8fad
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

<<<<<<< HEAD
    <table>
=======
    <a id="btnAdd" href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>

    <table id="users">
>>>>>>> 051ce017a95e1b176f9ee1b76d9d290dff4c8fad
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<<<<<<< HEAD

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
        </li>
    </ul>
{% endblock %}
=======
{% endblock %}
{% endif %}
>>>>>>> 051ce017a95e1b176f9ee1b76d9d290dff4c8fad
