{% extends 'base.html.twig' %}

{% block body %}
  <h1>Project Blog</h1>

  {% if app.session.get('userPermission') == 2 %}
  <a id="btnAdd" href="{{ path('post_new') }}">Créer un nouveau post</a>
  {% endif %}

  {% for post in posts %}
  {% if app.session.get('userPermission') == 2 or post.draftCopy != 1 %}
  <div class="time">
    {% if post.modified != post.created %}
    <span class="spanRight">Modifié le {{ post.modified|date('d/m/Y H:i') }}</span>
    <span class="spanLeft">Créé le {{ post.created|date('d/m/Y H:i') }}</span>
    {% else %}
    <span class="spanLeft">Créé le {{ post.created|date('d/m/Y H:i') }}</span>
    {% endif %}
  </div>
  <div class="posts{% if post.draftCopy == 1 %} draftCopy{% endif %}">
    <img src="/uploads//{{ post.img }}" alt="" />
    <p>
      {{ post.text }}
    </p>
    {% if app.session.get('userPermission') == 2 %}
    <ul>
      <li>
        <a href="{{ path('post_delete', { 'id': post.id }) }}">Supprimer</a>
      </li>
      <li>
        {% if post.draftCopy == 1 %}
        <a href="{{ path('post_publish', { 'id': post.id }) }}">Publier</a>
        {% else %}
        <a href="{{ path('post_hide', { 'id': post.id }) }}">Masquer</a>
        {% endif %}
      </li>
      <li>
        <a href="{{ path('post_edit', { 'id': post.id }) }}">Editer</a>
      </li>
    </ul>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
{% endblock %}
